<nav class="navbar">
    <div class="container-fluid">
      <div class="nav navbar-header">
        <h4 class="nav navbar-brand"> <%= link_to "Store Home", store_path, class: "whitetext" %> </h4>
      </div>
      <% if current_user && current_user.current_cart %>
        <div class="nav navbar-nav">
            <%= link_to cart_path(current_user.current_cart) do %>
              <br><p class="whitetext"><span class="glyphicon glyphicon-shopping-cart"></span> Cart</p>
            <% end %>
        </div>
      <% end %>

        <%= render partial: 'layouts/sign_in' %>
    </div>
</nav>
